.sidebar_section{
  
  background-color: #4b49AC;
  
}


.home_section{
  background-color: #F5F7FF;
}

.input_wrapper {
  transition: border-color 0.3s ease;
}

.input_wrapper input {
  border: none;
  outline: none;
}

.input_wrapper.focused {
  border-color: #6c63ff;
}
